$primaryColor: rgb(255, 159, 103);
$greyColor: #999;
$grayColor: #999999;
$primaryGreyColor: #a0a0a0;
$paleGreyColor: #dedcdc;
$borderColor: #efefef;
$blackColor: #333333;
$backGroundColor: rgb(252, 252, 252);
$primaryBlackColor: #32323d;
$whiteColor: #ffffff;
$redColor: #db1d1d;
$blueColor: #1237de;
$greenColor: #4fb809;
$fontFamily: Roboto sans-serif;
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: $fontFamily;
    overflow-x: hidden;
    z-index: 1;
}

#nav_trangChu {
    color: $primaryColor;
}

.container.slide {
    margin-top: 0px;
    margin-bottom: 50px;
}

.slick-dots {
    position: relative;
    top: 340px;
}

canvas {
    // background: url('https://zjs.zadn.vn/zmp3-desktop/releases/v0.1.5/images/bg-chart.jpg');
    background: linear-gradient(180deg, rgba(255, 159, 103, 0.514) 0%, rgb(255, 159, 103) 100%);
    border-radius: 10px;
}

.listItem__playCount::after {
    content: "";
    display: inline-block;
    width: 16px;
    height: 16px;
    vertical-align: middle;
    background-repeat: no-repeat;
    background-position: 50%;
    position: relative;
    left: -60px;
    background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9Im5vIj8+DQo8c3ZnIHdpZHRoPSIxNnB4IiBoZWlnaHQ9IjE2cHgiIHZpZXdCb3g9IjAgMCAxNiAxNiIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB4bWxuczpza2V0Y2g9Imh0dHA6Ly93d3cuYm9oZW1pYW5jb2RpbmcuY29tL3NrZXRjaC9ucyI+DQogICAgPCEtLSBHZW5lcmF0b3I6IFNrZXRjaCAzLjAuMyAoNzg5MSkgLSBodHRwOi8vd3d3LmJvaGVtaWFuY29kaW5nLmNvbS9za2V0Y2ggLS0+DQogICAgPHRpdGxlPnN0YXRzX3BsYXkgNDwvdGl0bGU+DQogICAgPGRlc2M+Q3JlYXRlZCB3aXRoIFNrZXRjaC48L2Rlc2M+DQogICAgPGRlZnMvPg0KICAgIDxnIGlkPSJQYWdlLTEiIHN0cm9rZT0ibm9uZSIgc3Ryb2tlLXdpZHRoPSIxIiBmaWxsPSJub25lIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiIHNrZXRjaDp0eXBlPSJNU1BhZ2UiPg0KICAgICAgICA8ZyBpZD0ic3RhdHNfcGxheS0iIHNrZXRjaDp0eXBlPSJNU0xheWVyR3JvdXAiIGZpbGw9InJnYigxNTMsIDE1MywgMTUzKSI+DQogICAgICAgICAgICA8cGF0aCBkPSJNNCwxMyBMNCwzIEwxMyw4IEw0LDEzIFoiIGlkPSJzdGF0c19wbGF5LTMiIHNrZXRjaDp0eXBlPSJNU1NoYXBlR3JvdXAiLz4NCiAgICAgICAgPC9nPg0KICAgIDwvZz4NCjwvc3ZnPg0K');
}

.BXH__list {
    background-color: #fcfcfc;
    padding: 15px;
    padding-top: 20px;
    border-radius: 10px;
    height: 330px;
    // background: linear-gradient(135deg, rgb(126, 125, 124) 0%, rgb(126, 125, 124) 100%);
    &:hover {
        .list.list-unstyled::-webkit-scrollbar {
            display: block;
        }
        .listItem__additional {
            span {
                margin-right: -12px;
            }
        }
    }
    margin-top: 40px;
    .list.list-unstyled {
        overflow: auto;
        overflow-x: hidden;
        height: 300px;
        &::-webkit-scrollbar {
            display: none;
            margin-left: 0;
            width: 7px;
        }
        &::-webkit-scrollbar-thumb {
            background: rgba(0, 0, 0, .3);
            border-radius: 50px;
            border: 1px solid $borderColor;
        }
    }
}

.contentdeXuat {
    padding: 10px;
    background-color: #fcfcfc;
    border-radius: 10px;
    height: 91.5%;
}

.list__item {
    margin-bottom: 10px;
}

.listItem__main {
    .listItem__number {
        width: 30px;
        font-size: 20px;
        color: $grayColor;
    }
    .listItem__img1,
    .listItem__img2,
    .listItem__img {
        padding-left: 15px;
        &:hover {
            i {
                visibility: visible;
            }
            img {
                filter: brightness(50%);
            }
        }
        .fa.fa-pause {
            visibility: visible;
        }
        i {
            visibility: hidden;
            position: relative;
            top: 2.5px;
            left: -35px;
            color: white;
            cursor: pointer;
        }
    }
    .listItem__content {
        // padding-left: 15px;
        span {
            color: $grayColor;
        }
        strong {
            color: $primaryBlackColor;
            font-weight: 500;
        }
    }
}

.listItem__additional {
    span {
        color: $greyColor;
        font-size: 12px;
    }
}

.listDeXuat__item {
    margin-bottom: 10.5px;
    border-bottom: 1px solid $borderColor;
    padding-bottom: 10px;
    .listDeXuat__content {
        display: flex;
        .listDeXuat__songImg {
            margin-right: 10px;
            &:hover {
                img {
                    filter: brightness(50%);
                }
                .fas.fa-play,
                .fas.fa-pause {
                    display: block;
                    cursor: pointer;
                }
            }
            img {
                border-radius: 50%;
            }
            .fas.fa-play {
                display: none;
                position: absolute;
                left: 35px;
                top: 18px;
                color: white;
            }
            .fas.fa-pause {
                @extend .fas.fa-play;
                display: block;
            }
        }
        .listDeXuat__songName {
            strong {
                color: $primaryBlackColor;
                font-weight: 640;
            }
            span {
                color: $primaryGreyColor;
            }
        }
        .listDeXuat__heart {
            line-height: 50px;
            position: absolute;
            right: 65px;
            color: $grayColor;
            height: 16px;
            // z-index: -1;
            &:hover {
                cursor: pointer;
                span {
                    visibility: visible;
                }
                i {
                    background-color: $borderColor;
                    padding: 8px;
                    border-radius: 50%;
                    position: absolute;
                    right: -8px;
                    top: 9px;
                }
            }
            span {
                visibility: hidden;
                width: 130px;
                height: 30px;
                line-height: 30px;
                background-color: $primaryBlackColor;
                color: white;
                font-size: 12px;
                text-align: center;
                border-radius: 5px;
                padding: 0px 10px;
                position: absolute;
                z-index: 2;
                bottom: 90%;
                left: 50%;
                margin-left: -73px;
                &::after {
                    content: "";
                    position: absolute;
                    top: 100%;
                    left: 50%;
                    margin-left: -5px;
                    border-left: 5px solid transparent;
                    border-right: 5px solid transparent;
                    border-top: 5px solid $primaryBlackColor;
                }
            }
        }
        .listDeXuat__ellipsis {
            @extend .listDeXuat__heart;
            right: 30px;
            span {
                width: 50px;
                margin-left: -33px;
            }
        }
    }
}

.container.theLoai {
    margin-top: -15px;
    h2 {
        color: $primaryBlackColor;
    }
    .topSangTac,
    .baiHatMoi {
        margin-top: -50px;
    }
}

.slick--prevCover,
.slick--prevSangTac,
.slick--prevBaiHatMoi {
    position: relative;
    left: 94%;
    top: -237px;
    font-size: 25.99px;
    width: 16px;
    &:hover {
        color: $primaryColor;
        cursor: pointer;
    }
}

.slick--nextCover,
.slick--nextSangTac,
.slick--nextBaiHatMoi {
    position: relative;
    left: 96.9%;
    top: -275px;
    font-size: 25.99px;
    width: 16px;
    &:hover {
        color: $primaryColor;
        cursor: pointer;
    }
}

h2 {
    font-weight: 1000;
}

.topCover {
    h2 {
        font-weight: 700;
    }
    .playlist-link {
        height: 17px;
        &:focus {
            outline: none;
        }
    }
    .fas.fa-play {
        display: none;
        font-size: 30px;
    }
    .far.fa-heart,
    .fas.fa-ellipsis-h,
    .fa.fa-heart.theLoai {
        display: none;
        font-size: 18px;
    }
    .heart-album {
        &:hover {
            span {
                visibility: visible;
            }
        }
        span {
            visibility: hidden;
            width: 130px;
            height: 30px;
            line-height: 30px;
            background-color: $primaryBlackColor;
            color: white;
            font-size: 12px;
            text-align: center;
            border-radius: 5px;
            padding: 0px 10px;
            position: absolute;
            z-index: 10;
            bottom: 64%;
            left: 0%;
            margin-left: -21px;
            &::after {
                content: "";
                position: absolute;
                top: 100%;
                left: 50%;
                margin-left: -5px;
                border-left: 5px solid transparent;
                border-right: 5px solid transparent;
                border-top: 5px solid $primaryBlackColor;
            }
        }
    }
    .ellipsis-album {
        @extend .heart-album;
        span {
            width: 50px;
            position: absolute;
            left: 0%;
            margin-left: 128px;
        }
    }
    .slide__img00,
    .slide__img01,
    .slide__img02,
    .slide__img03,
    .slide__img04,
    .slide__img05,
    .slide__img06,
    .slide__img07,
    .slide__img08,
    .slide__img09 {
        height: 190px;
        width: 199.8px;
        &:hover {
            cursor: pointer;
            img {
                filter: brightness(50%);
            }
            .fas.fa-play,
            .far.fa-heart,
            .fas.fa-ellipsis-h,
            .fa.fa-heart.theLoai {
                display: block;
                color: white;
                cursor: pointer;
            }
            .topSangTac {
                transform: translateY(0px);
            }
        }
    }
    img {
        border-radius: 10px;
    }
}

.topSangTac {
    @extend .topCover;
}

.baiHatMoi {
    @extend .topCover;
}

@media all and (max-width:768px) {
    body {
        overflow-x: hidden;
        width: 414px;
    }
    #notify {
        display: none;
    }
    header {
        z-index: 15;
        position: -webkit-sticky;
        position: sticky;
        top: 0;
        background-color: white;
        .container.nav {
            display: flex;
            flex-direction: column;
            height: 100px;
            width: 414px;
            .navbar {
                height: 100px;
                width: 414px;
                .nav {
                    height: 100px;
                    width: 414px;
                    .nav__main {
                        height: 100px;
                        width: 414px;
                        .logoDiv {
                            position: absolute;
                            top: 8%;
                            left: 35%;
                            img {
                                width: 100px;
                            }
                        }
                        #border {
                            display: none;
                        }
                        .nav-item.first {
                            position: absolute;
                            top: 50%;
                            left: 0%;
                        }
                        .nav-item.congDong {
                            position: absolute;
                            top: 50%;
                            left: 38%;
                        }
                        .nav-item.live {
                            position: absolute;
                            top: 50%;
                            left: 80.5%;
                        }
                        .nav-item.faqs {
                            display: none;
                        }
                        input[type=search] {
                            -webkit-appearance: textfield;
                            -webkit-box-sizing: content-box;
                            box-sizing: content-box;
                            font-family: inherit;
                            font-size: 50%;
                        }
                        input[type=search] {
                            background: #efefef url(https://static.tumblr.com/ftv85bp/MIXmud4tx/search-icon.png) no-repeat 5px center;
                            border: solid 1px #efefef;
                            padding: 8px 15px;
                            width: 0px;
                            border-radius: 10em;
                            -webkit-transition: all .5s;
                            transition: all .5s;
                            position: absolute;
                            top: 8%;
                            left: 160%;
                            display: none;
                        }
                        input[type=search]::placeholder {
                            display: none;
                        }
                    }
                }
                .nav__signUp {
                    width: 0;
                    .dangNhapDiv {
                        position: absolute;
                        top: 6%;
                        left: 73.5%;
                    }
                    .userDiv {
                        transition: all .5s;
                        position: absolute;
                        top: 8%;
                        right: 0%;
                        img {
                            width: 32px;
                            height: 32px;
                        }
                    }
                    .uploadFile {
                        display: none;
                    }
                }
            }
        }
    }
    .container.slide {
        margin-bottom: 30px;
    }
    .slick-list {
        height: 30vh;
    }
    .slick-slide img {
        height: 30vh;
    }
    canvas {
        margin-bottom: 10px;
    }
    .BXH__list {
        height: 300px;
        .list.list-unstyled {
            height: 275px;
        }
    }
    .list__item {
        .listItem__number {
            font-size: 14px;
            width: 15px;
        }
        .listItem__img1,
        .listItem__img2,
        .listItem__img {
            img {
                width: 45px;
                height: 45px;
            }
        }
        .listItem__content {
            font-size: 14px;
        }
        .listItem__additional {
            display: none;
        }
    }
    .col-md-7.BXHNdeXuat {
        h2 {
            font-size: 25px;
        }
        .listItem__img1,
        .listItem__img2,
        .listItem__img {
            &:hover {
                margin-right: 16.9px;
                img {
                    filter: brightness(100%);
                }
                .fa.fa-play {
                    display: none;
                }
            }
        }
    }
    .col-md-5.BXHNdeXuat {
        width: 100%;
        margin: auto;
        margin-top: 10px;
        margin-bottom: 5px;
        // padding: 0 30px;
        h2 {
            font-size: 25px;
        }
        .listDeXuat {
            font-size: 14px;
            // padding: 0 15px;
            &__songImg {
                &:hover {
                    img {
                        filter: brightness(100%);
                    }
                    .fas.fa-play {
                        display: none;
                    }
                }
            }
            &__heart {
                display: none;
            }
            &__ellipsis {
                display: none;
            }
        }
    }
    .topCover {
        margin-top: 20px;
        margin-bottom: 50px;
        h2 {
            font-size: 20px;
        }
        .playlist-link {
            width: 190px !important;
        }
        .slick-track{
            width: 400px;
            height: 180px;
        }
        .slick-list.draggable{
            height: 180px;
        }
        .slide__topCover {
            height: 180px;
            width: 375px;
            .slide__img00,
            .slide__img01,
            .slide__img02,
            .slide__img03,
            .slide__img04,
            .slide__img05,
            .slide__img06,
            .slide__img07,
            .slide__img08,
            .slide__img09 {
                width: 190px !important;
                img {
                    width: 170px;
                    height: 170px;
                    // padding-right: 50px;
                }
                .fas.fa-play,
                .far.fa-heart,
                .fas.fa-ellipsis-h,
                .fa.fa-heart.theLoai {
                    display: none;
                }
                &:hover {
                    img {
                        filter: brightness(100%);
                    }
                }
            }
        }
        .slick--prevCover,
        .slick--nextCover {
            display: none;
        }
    }
    .topSangTac {
        height: 220px;
        margin-bottom: 40px;
        .slick-track{
            width: 400px;
            height: 180px;
        }
        .slick-list.draggable{
            height: 180px;
        }
        .slide__topSangTac {
            height: 180px;
            width: 375px;
            .slide__img00,
            .slide__img01,
            .slide__img02,
            .slide__img03,
            .slide__img04,
            .slide__img05,
            .slide__img06,
            .slide__img07,
            .slide__img08,
            .slide__img09 {
                width: 190px !important;
                img {
                    width: 170px;
                    height: 170px;
                    // padding-right: 50px;
                }
                .fas.fa-play,
                .far.fa-heart,
                .fas.fa-ellipsis-h,
                .fa.fa-heart.theLoai {
                    display: none;
                }
                &:hover {
                    img {
                        filter: brightness(100%);
                    }
                }
            }
        }
        .slick--prevSangTac,
        .slick--nextSangTac {
            display: none;
        }
    }
    .baiHatMoi {
        .slick-track{
            width: 400px;
            height: 180px;
        }
        .slick-list.draggable{
            height: 180px;
        }
        .slide__baiHatMoi {
            height: 180px;
            width: 375px;
            .slide__img00,
            .slide__img01,
            .slide__img02,
            .slide__img03,
            .slide__img04,
            .slide__img05,
            .slide__img06,
            .slide__img07,
            .slide__img08,
            .slide__img09 {
                width: 190px !important;
                img {
                    width: 170px;
                    height: 170px;
                    // padding-right: 50px;
                }
                .fas.fa-play,
                .far.fa-heart,
                .fas.fa-ellipsis-h,
                .fa.fa-heart.theLoai {
                    display: none;
                }
                &:hover {
                    img {
                        filter: brightness(100%);
                    }
                }
            }
        }
        .slick--prevBaiHatMoi,
        .slick--nextBaiHatMoi {
            display: none;
        }
    }
}