.live__Header__Video {
    width: 100%;
    height: 680px;
    /* background-color: azure; */
    padding: 20px;
    border-radius: 10px;
}

.live__Header__Video__content {
    width: 100%;
    border-radius: 5px;
    height: 480px;
    background-color: black;
}
#videoLIVE{
    transform: rotateY(180deg);
}
.live__Header__Video__caption {
    margin-top: 20px;
    border-radius: 5px;
    height: 140px;
    /* background-color: goldenrod; */
    padding: 5px;
    display: flex
}

.live__Header__Video__caption__avatar {
    width: 100%;
    height: 90px;
    margin-top: 70px;
    position: absolute;
    display: flex;
    /* background-color: rgba(137, 43, 226, 0.17); */
}

.live__Header__Video__caption__avatar .avatar {
    width: 10%;
}

.live__Header__Video__caption__avatar .name {
    width: 60%;
}

.live__Header__Video__caption__avatar .follow {
    width: 30%;
    padding-top: 20px;
    padding-left: 35px;
}

.live__Header__Video__caption__avatar .follow button {
    width: 130px;
    font-size: 15px;
    height: 30px;
    border-radius: 5px;
    background-color: transparent;
    color: #acacac;
    border: 2px solid #acacac;
    position: absolute;
    outline: none;
}

.live__Header__Video__caption__Tieude {
    width: 70%;
    height: 50px;
    padding-bottom: 60px;
}

.live__Header__Video__caption__TuongTac {
    width: 30%;
    height: 50px;
    padding-bottom: 60px;
}

.live__Header__Video__caption__TuongTac button {
    background-color: transparent;
    outline: none;
    color: #acacac;
    margin-right: 10px;
    margin-top: 30px;
    border-radius: 5px;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 2px solid #bdbdbd;
    /* border: 2px solid #bdbdbd; */
    width: 90px;
    font-size: 15px;
    height: 28px;
}

.live__Header__Comment {
    width: 100%;
    padding: 20px;
    /* background-color: azure; */
    border-radius: 10px;
}

.live__Header__Comment__content {
    width: 100%;
    border-radius: 5px;
    height: 622px;
    background-color: #fcfcfc;
    overflow: auto;
}

.live__Header__Comment__content::-webkit-scrollbar {
    display: block;
    margin-left: 0;
    width: 8px;
}

.live__Header__Comment__content::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, .3);
    border-radius: 50px;
    border: 1px solid #fcfcfc;
}

.cmt_head {
    display: flex;
}

.commentLive {
    display: block;
    border-top: 1px solid #acacac;
    position: relative;
    top: -56.5px;
    background-color: white;
}

.cmt_headInput {
    display: flex;
    /* position: relative;
    top: 700px;
    right: 300px; */
}

.Avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.Avatarcmt {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.cmt_body {
    width: 90%;
}

.cmt_text {
    width: 420px;
    height: 40px;
    border-radius: 20px;
    outline: none;
    border: 2px solid rgb(150, 150, 150);
}

.cmttext_body {
    width: 420px;
    height: 40px;
    border-radius: 20px;
    background-color: rgba(153, 153, 153, 0.397);
    padding-top: 6px;
    padding-left: 5px;
}

.cmttext_body span a {
    font-weight: 700;
    color: rgb(0, 0, 0);
}

.cmttext_body span a:hover {
    text-decoration: none;
}

.cmt_text {
    width: 282px;
}

.col-5.live__DeXuat__content {
    padding: 5px;
    width: 100%;
    height: 140px;
}

.col-5.live__DeXuat__content iframe {
    border-radius: 5px;
}

.col-7.live__DeXuat__content {
    width: 98%;
    border-radius: 5px;
    /* background-color: #acacac; */
    padding-top: 3px;
}

.col-7.live__DeXuat__content span {
    font-weight: 600;
    font-size: 18px;
}

.col-7.live__DeXuat__content span button {
    background-color: transparent;
    outline: none;
    height: 27px;
    width: 80px;
    border-radius: 3px;
    border: 2px solid red;
    color: red;
}

@media all and (max-width: 768px) {
    body {
        overflow-x: hidden;
        width: 414px;
    }
    #notify {
        display: none;
    }
    header {
        z-index: 15;
        position: -webkit-sticky;
        position: sticky;
        top: 0;
        background-color: white;
    }
    header .container.nav {
        display: flex;
        flex-direction: column;
        height: 100px;
        width: 414px;
    }
    header .container.nav .navbar {
        height: 100px;
        width: 414px;
    }
    header .container.nav .navbar .nav {
        height: 100px;
        width: 414px;
    }
    header .container.nav .navbar .nav .nav__main {
        height: 100px;
        width: 414px;
    }
    .logoDiv {
        position: absolute;
        top: 8%;
        left: 35%;
    }
    header .container.nav .navbar .nav .nav__main .logoDiv img {
        width: 100px;
    }
    header .container.nav .navbar .nav .nav__main #border {
        display: none;
    }
    header .container.nav .navbar .nav .nav__main .nav-item.first {
        position: absolute;
        top: 50%;
        left: 0%;
    }
    header .container.nav .navbar .nav .nav__main .nav-item.congDong {
        position: absolute;
        top: 50%;
        left: 38%;
    }
    header .container.nav .navbar .nav .nav__main .nav-item.live {
        position: absolute;
        top: 50%;
        left: 80.5%;
    }
    header .container.nav .navbar .nav .nav__main .nav-item.faqs {
        display: none;
    }
    header .container.nav .navbar .nav .nav__main input[type=search] {
        -webkit-appearance: textfield;
        -webkit-box-sizing: content-box;
        box-sizing: content-box;
        font-family: inherit;
        font-size: 50%;
    }
    header .container.nav .navbar .nav .nav__main input[type=search] {
        background: #efefef url(https://static.tumblr.com/ftv85bp/MIXmud4tx/search-icon.png) no-repeat 5px center;
        border: solid 1px #efefef;
        padding: 8px 15px;
        width: 0px;
        border-radius: 10em;
        -webkit-transition: all .5s;
        transition: all .5s;
        position: absolute;
        top: 8%;
        left: 160%;
        display: none;
    }
    header .container.nav .navbar .nav .nav__main input[type=search]::-webkit-input-placeholder {
        display: none;
    }
    header .container.nav .navbar .nav .nav__main input[type=search]:-ms-input-placeholder {
        display: none;
    }
    header .container.nav .navbar .nav .nav__main input[type=search]::-ms-input-placeholder {
        display: none;
    }
    header .container.nav .navbar .nav .nav__main input[type=search]::placeholder {
        display: none;
    }
    header .container.nav .navbar .nav__signUp {
        width: 0;
    }
    header .container.nav .navbar .nav__signUp .dangNhapDiv {
        position: absolute;
        top: 6%;
        left: 73.5%;
    }
    header .container.nav .navbar .nav__signUp .userDiv {
        -webkit-transition: all .5s;
        transition: all .5s;
        position: absolute;
        top: 8%;
        right: 0%;
    }
    header .container.nav .navbar .nav__signUp .userDiv img {
        width: 32px;
        height: 32px;
    }
    header .container.nav .navbar .nav__signUp .uploadFile {
        display: none;
    }
    .live__Header__Video__content {
        width: 382.7px;
        height: 250px;
        position: sticky;
        top: 100px;
        z-index: 10;
    }
    #videoLIVE,
    #canvasLIVE {
        width: 382.7px;
        height: 250px;
    }
    .live__Header__Video__content iframe {
        width: 382.7px;
        height: 250px;
    }
    .col-4.live__Header__Comment {
        position: relative;
        top: 440px;
        left: -283px;
    }
    .live__Header__Comment__content {
        width: 398px;
    }
    .live__DeXuat__caption {
        position: relative;
        top: 360px;
    }
    .row.live__DeXuat {
        position: relative;
        top: 360px;
    }
    .commentLive {
        width: 398px;
    }
    /* .cmt_headInput {
        width: 380px;
    }
    .cmt_body {
        width: 350px;
    } */
    input.cmt_text {
        width: 334px;
    }
    .live__Header__Video__caption__avatar {
        position: relative;
        top: -50px;
        left: -370px;
    }
    .live__Header__Video__caption {
        position: relative;
        top: 100px;
    }
    .rounded-circle {
        width: 34px;
        height: 34px;
    }
    .name {
        position: relative;
        left: 20px;
        top: 7px;
    }
    .name span.h3 {
        font-size: 14px;
        position: relative;
        top: -10px;
    }
    .name span.FL {
        font-size: 12px;
        position: relative;
        top: -20px;
    }
    #FLL {
        position: relative;
        left: 85px;
        top: -20px;
        width: 95px;
    }
    #FLLG {
        position: relative;
        left: 70px;
        top: -50px;
        width: 110px;
    }
    .live__Header__Video__caption__Tieude {
        position: relative;
        top: -110px;
    }
    .live__Header__Video__caption__Tieude h5 {
        width: 382px;
        font-size: 18px;
    }
    .live__Header__Video__caption__Tieude p {
        width: 382px;
        font-size: 12px;
    }
    .live__Header__Video__caption__TuongTac {
        display: flex;
        width: 200px;
        padding-bottom: 0px;
        height: 1px;
    }
    .live__Header__Video__caption__TuongTac button {
        position: relative;
        top: -80px;
        left: -170px;
        width: 500px;
    }
    .row.live__DeXuat {
        display: flex;
        flex-direction: column;
        margin-bottom: 0 !important;
        padding-left: 15px;
    }
    .row.live__DeXuat .col-6 .row {
        width: 400px;
    }
    .col-5.live__DeXuat__content iframe {
        width: 160px;
        height: 120px;
    }
    .col-7.live__DeXuat__content span {
        width: 254px;
    }
    .col-7.live__DeXuat__content span:first-child {
        width: 254px;
        font-size: 14px;
    }
    .col-7.live__DeXuat__content span.text-muted.font-weight-normal {
        width: 254px;
        font-size: 12px !important;
    }
    .col-7.live__DeXuat__content span.text-muted.font-weight-normal button {
        font-size: 10px !important;
        width: 70px;
    }
}