/* head */
.container-main {
    width: 1110px;
    margin: auto;
}

#cover-img{
    width: 1110px;
    height: 300px;
    position: absolute; 
}
#ava-img{
    position: absolute;
    width: 200px;
    height: 200px;
    margin-left: 50px;
    margin-top: 60px;
}
#profile{
    position: absolute;
    margin-left: 260px;
    margin-top: 60px;
    font-size: 25px;
    
    color: white;
    background-color: #ff9f67;
}
#profile a{
  color: white;
  text-decoration: none;
}
.TCN__Body{
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 310px;
}
#all-tracks{
    border: 0;
    color: #000000;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
    margin-right: 20px;
}
#all-tracks:hover{
    padding-bottom: 5px;
    border-bottom: 2px solid #ff9f67;
}

/* -------MusicPost------- */
.musicpost{
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 20px;
  width: 100%;
  height: 200px;
  border-radius: 5px;
  background-color: hsla(0, 0%, 0%, 0.05);
  box-shadow: 0px 0px 20px 2px rgba(128, 128, 128, 0.363);
}
.tcn_comment{
  padding-top: 20px;
  position: relative;
  display: inline-flex;
  width: 76%;
  height: 35px;
  left: 198px;
  /* background-color: #bbbbbb21; */
}
.tcn_comment .heartbtn{
  width:75%;
  height: 25px;
  display: flex;
}
.tcn_comment .playvcmt{
  width: 25%;
  height: 35px;
  cursor: pointer;
}
.tcn_comment .heartbf{
  width: 70px;
  font-size: 12px;
  border-radius: 3px;
  padding: 2px;
  border: 2px solid #bdbdbd;
  color: #000000;
  position: relative;
}
.tcn_comment .heartat{
  width: 70px;
  font-size: 12px;
  border-radius: 3px;
  padding: 2px;
  border: 2px solid #ffa047;
  color:#ffa047;
  position: relative;
  display: none;
}
#sharebtn{
  margin-left: 3px;
  position: relative;
  width: 70px;
  font-size: 12px;
  border-radius: 3px;
  padding: 2px;
  border: 2px solid #bdbdbd;
}
.tcn_comment span{
  font-size: 13px;
  color: #aeaeae;
}
/* -------music------ */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*:focus {
  outline: none;
}

.music-player {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
  margin: auto;
}
.music-player .Avatar{
  width: 160px;
  height: 160px;
  position: absolute;
}
.titre {
  margin-left: 200px;
  position: absolute;
  float: left;
  width: 70%;
  z-index: 2;
}

.lecteur {
  margin-left: 100px;
  width: 70%;
  display: block;
  margin-top: 10%;
  height: auto;
  position: relative;
  float: left;
  z-index: 10;
}

.mejs__button>button:focus {
  outline: 0px dotted rgb(93, 93, 93);
}

.mejs__container {
  position: relative;
  background-color: transparent;
  min-width: auto !important;
}

.mejs__controls {
  padding: 0 10%;
  background: transparent !important;
  display: block;
  position: relative;
}

.mejs__controls div {
  display: block;
  float: left;
  position: relative;
}

.mejs__controls .mejs__playpause-button {
  position: absolute !important;
  right: -110px;
  top: -75px;
  width: 40px;
}

.mejs__controls .mejs__playpause-button button {
  display: block;
  width: 40px;
  height: 40px;
  padding: 0;
  border: 0;
  font-family: FontAwesome;
  font-size: 23px;
  color: #ffa047;
  background: transparent;
  padding: 0;
  margin: 0;
}

.mejs__controls .mejs__play button:before {
  content: "\f04b";
}

.mejs__controls .mejs__pause button:before {
  content: "\f04c";
}

.mejs__controls .mejs__volume-button button {
  display: block;
  width: 40px;
  padding: 0;
  border: 0;
  font-family: FontAwesome;
  font-size: 20px;
  color: #ffa047;
  background: transparent;
  margin: 0;
}

.mejs__controls .mejs__mute button:before {
  content: "\f028";
}

.mejs__controls .mejs__unmute button:before {
  content: "\f026";
}

.mejs__controls .mejs__time {
  width: 100%;
  margin-top: 2%;
  margin-bottom: 3%;
  color: rgba(0, 0, 0, 0.5);
  height: auto;
  padding: 0;
  overflow: visible;
  min-width: 125%;
  margin-left: 50px;
}

.mejs__controls .mejs__time span {
  font-size: 15px;
}

.mejs__controls span.mejs__duration {
  font-weight: 600;
  float: right;
  text-align: right;
  color: rgba(0, 0, 0, 0.762);
}

.mejs__controls span.mejs__currenttime {
  font-weight: 700;
  float: left;
}

.mejs__controls .mejs__time-rail {
  width: 100%;
  margin: 0;
}

.mejs__controls .mejs__time-rail span {
  position: absolute;
  top: 0;
  width: 100%;
  height: 4px;
  border-radius: 50px;
  cursor: pointer;
  margin-left: 0px;
}
.mejs__controls .mejs__time-rail .mejs__time-slider {
  position: absolute;
  top: 0;
  width: 125%;
  height: 4px;
  border-radius: 50px;
  cursor: pointer;
  margin-left: 50px;
}

.mejs__controls .mejs__time-rail .mejs__time-loaded {
  transform: scaleX(1);
  background: rgba(123, 123, 123, 0.4);
}

.mejs__controls .mejs__time-rail .mejs__time-float {
  display: none;
  top: -40px;
  width: 40px;
  height: 25px;
  text-align: center;
  font-size: 10px;
  background: rgb(174, 174, 174);
  border: 0;
}

.mejs__controls .mejs__time-rail .mejs__time-float-current {
  display: block;
  position: relative;
  top: 0;
  margin: 0;
  line-height: 26px;
  color: #100d28;
}

.mejs__controls .mejs__time-rail .mejs__time-float-corner {
  top: auto;
  bottom: -9px;
  left: 0;
  width: 0;
  height: 0;
  border-top: 6px solid rgb(150, 150, 150);
  border-right: 6px solid transparent;
  border-left: 6px solid transparent;
}

.mejs__controls .mejs__time-rail .mejs__time-current {
  background: #ffa047 none repeat scroll 0 0;
}

.mejs__controls .mejs__time-handle {
  display: none;
}

.mejs__controls .mejs__volume-button {
  position: relative;
  position: absolute !important;
  top: -29px;
  right: -50px;
  width: 40px;
  height: 40px;
}

.mejs__controls .mejs__horizontal-volume-slider {
  display: block;
  position: absolute !important;
  position: relative;
  top: -35px;
  right: -100px;
  width: 50px;
  height: 4px;
  margin-top: 18px;
  border-radius: 50px;
  line-height: 11px;
}

.mejs__controls .mejs__horizontal-volume-slider .mejs__horizontal-volume-total,
.mejs__controls .mejs__horizontal-volume-slider .mejs__horizontal-volume-current {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(90, 90, 90, 0.5);
}

.mejs__controls .mejs__horizontal-volume-slider .mejs__horizontal-volume-current {
  background: #ffa047;
}

.mejs__offscreen {
  display: none;
}


/* ---------------- */
#btn-follow{
    text-align: center;
    width: 100px;
    height: 30px;
    outline: none;
    border: 0;
    background-color: #ff9f67;
    color: white;
    border-radius: 3px;
  

}
#btn-following{
    display: none;
    position: absolute;
    text-align: center;
    top: 0px;
    left: 15px;
    width: 150px;
    height: 30px;
    outline: none;
    border: 0;
    border: 1px solid #ff9f67;
    color: #ff9f67;
    border-radius: 3px;
    background-color: white;


}
#btn-share{
    width: 100px;
    height: 30px;
    border-radius: 3px;
    border: 2px solid rgba(167, 167, 167, 0.527);
    text-align: center;
    background-color: white;   
}
#btn-more{
    background-color: white;
    width: 30px;
    height: 30px;
    border-radius: 3px;
    border: 2px solid rgba(167, 167, 167, 0.527);
}
.item__top{
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(167, 167, 167, 0.527);
}
.item__body{
    display: flex;
    margin-top: 15px;
}

.followers{
    text-align: center;
    width: 33.33%;
    color: rgba(167, 167, 167, 0.829);
    border-right: 1px solid rgba(167, 167, 167, 0.527);
}
.following{
    text-align: center;
    width: 33.33%;
    color: rgba(167, 167, 167, 0.829);
    border-right: 1px solid rgba(167, 167, 167, 0.527);
}
.tracks{
    text-align: center;
    width: 33.33%;
    color: rgba(167, 167, 167, 0.829);
}
/* ------------------- */
.likes__list{
    margin-top: 30px;
    width: 100%;
}
.likes__list__head{
    width: 100%;
    height: 30px;
    border-bottom: 1px solid rgba(167, 167, 167, 0.527);
}
.seeall{
    margin-left: 180px;
    
}
/* -------------- */
.listDeXuat__item {
    margin-top: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #efefef;
    padding-bottom: 5px;
  }
  
  .listDeXuat__item .listDeXuat__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  
  .listDeXuat__item .listDeXuat__content .listDeXuat__songImg {
    margin-right: 10px;
  }
  
  .listDeXuat__item .listDeXuat__content .listDeXuat__songImg:hover img {
    -webkit-filter: brightness(50%);
            filter: brightness(50%);
  }
  
  .listDeXuat__item .listDeXuat__content .listDeXuat__songImg:hover .fas.fa-play, .listDeXuat__item .listDeXuat__content .listDeXuat__songImg:hover .fas.fa-pause,
  .listDeXuat__item .listDeXuat__content .listDeXuat__songImg:hover .fas.fa-pause {
    display: block;
    cursor: pointer;
  }
  
  .listDeXuat__item .listDeXuat__content .listDeXuat__songImg img {
    border-radius: 5px;
  }
  
  .listDeXuat__item .listDeXuat__content .listDeXuat__songImg .fas.fa-play, .listDeXuat__item .listDeXuat__content .listDeXuat__songImg .fas.fa-pause {
    display: none;
    position: absolute;
    left: 35px;
    top: 205px;
    color: white;
  }
  
  .listDeXuat__item .listDeXuat__content .listDeXuat__songImg .fas.fa-pause {
    display: block;
  }
  
  .listDeXuat__item .listDeXuat__content .listDeXuat__songName strong {
    color: #6d6d6d;
    font-weight: 500;
    font-size: 12px;
  }
  
  .listDeXuat__item .listDeXuat__content .listDeXuat__songName span {
    color: #a0a0a0;
    font-size: 12px;
    padding-left: 5px;
  }
  
  .listDeXuat__item .listDeXuat__content .listDeXuat__heart, .listDeXuat__item .listDeXuat__content .listDeXuat__ellipsis {
    line-height: 50px;
    position: absolute;
    right: 45px;
    color: #999999;
    height: 16px;
  }
  
  .listDeXuat__item .listDeXuat__content .listDeXuat__heart:hover, .listDeXuat__item .listDeXuat__content .listDeXuat__ellipsis:hover {
    cursor: pointer;
  }
  
  .listDeXuat__item .listDeXuat__content .listDeXuat__heart:hover span, .listDeXuat__item .listDeXuat__content .listDeXuat__ellipsis:hover span {
    visibility: visible;
  }
  
  .listDeXuat__item .listDeXuat__content .listDeXuat__heart:hover i, .listDeXuat__item .listDeXuat__content .listDeXuat__ellipsis:hover i {
    background-color: #efefef;
    padding: 8px;
    border-radius: 50%;
    position: absolute;
    right: -8px;
    top: 9px;
  }
  
  .listDeXuat__item .listDeXuat__content .listDeXuat__heart span, .listDeXuat__item .listDeXuat__content .listDeXuat__ellipsis span {
    visibility: hidden;
    width: 130px;
    height: 30px;
    line-height: 30px;
    background-color: #32323d;
    color: white;
    font-size: 12px;
    text-align: center;
    border-radius: 5px;
    padding: 0px 10px;
    position: absolute;
    z-index: 2;
    bottom: 90%;
    left: 50%;
    margin-left: -73px;
  }
  
  .listDeXuat__item .listDeXuat__content .listDeXuat__heart span::after, .listDeXuat__item .listDeXuat__content .listDeXuat__ellipsis span::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #32323d;
  }
  
  .listDeXuat__item .listDeXuat__content .listDeXuat__ellipsis {
    right: 15px;
  }
  
  .listDeXuat__item .listDeXuat__content .listDeXuat__ellipsis span {
    width: 50px;
    margin-left: -33px;
  }
    /* ------------------ */
    .Fanalsolikes__list{
      margin-top: 30px;
      width: 100%;
  }
  .Fanalsolikes__list__head{
      width: 100%;
      height: 30px;
      border-bottom: 1px solid rgba(167, 167, 167, 0.527);
  }
  .refresh{
      margin-left: 150px;
      
  }
  .list__Fanalsolikes__content{
    display: flex;
    margin-top: 5px;
    padding-bottom: 5px;
    border-bottom: 1px solid rgba(202, 202, 202, 0.363);
  }
  .list__Fanalsolikes__item .list__Fanalsolikes__content .list__Fanalsolikes__songImg img {
    border-radius: 50%;
    margin-right: 10px;
  }
  .list__Fanalsolikes__item .list__Fanalsolikes__content .list__Fanalsolikes__songName{
    width: 55%;
  }
  .list__Fanalsolikes__item .list__Fanalsolikes__content .list__Fanalsolikes__songName strong {
    color: #6d6d6d;
    font-weight: 500;
    font-size: 16px;
  }
  .list__Fanalsolikes__item .list__Fanalsolikes__content .list__Fanalsolikes__songName span {
    color: #6d6d6d;
    font-weight: 500;
    font-size: 12px;
  }
  .list__Fanalsolikes__follow button{
    position: absolute;
    border-radius: 3px;
    border: 1px solid rgba(182, 182, 182, 0.664);
    font-size: 13px;
    padding: 3px;
    margin-top: 5px ;
    background-color:white ;
    outline: none;
  
  }
  .list__Fanalsolikes__follow button:hover{
   box-shadow:  0px 6px 8px 1px rgba(196, 196, 196, 0.288);
   color: #858585;
  }
  .list__Fanalsolikes__following button{
    border-radius: 3px;
    background-color: white;
    border: 2px solid #ff9f67;
    font-size: 13px;
    padding: 3px;
    margin-top: 5px ;
    color: #ff9f67;
    outline: none;
    display: none;
  
  }
  /* ------------- */
  @media all and (max-width: 768px){
    body {
      overflow-x: hidden;
      width: 414px;
    }
    header {
      z-index: 15;
      position: -webkit-sticky;
      position: sticky;
      top: 0;
      background-color: white;
    }
    header .container.nav {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      height: 100px;
      width: 414px;
    }
    header .container.nav .navbar {
      height: 100px;
      width: 414px;
    }
    header .container.nav .navbar .nav {
      height: 100px;
      width: 414px;
    }
    header .container.nav .navbar .nav .nav__main {
      height: 100px;
      width: 414px;
    }
    header .container.nav .navbar .nav .nav__main .logoDiv {
      position: absolute;
      top: 8%;
      left: 35%;
    }
    header .container.nav .navbar .nav .nav__main .logoDiv img {
      width: 100px;
    }
    header .container.nav .navbar .nav .nav__main #border {
      display: none;
    }
    header .container.nav .navbar .nav .nav__main .nav-item.first {
      position: absolute;
      top: 50%;
      left: 0%;
    }
    header .container.nav .navbar .nav .nav__main .nav-item.congDong {
      position: absolute;
      top: 50%;
      left: 38%;
    }
    header .container.nav .navbar .nav .nav__main .nav-item.live {
      position: absolute;
      top: 50%;
      left: 80.5%;
    }
    header .container.nav .navbar .nav .nav__main .nav-item.faqs {
      display: none;
    }
    header .container.nav .navbar .nav .nav__main input[type=search] {
      -webkit-appearance: textfield;
      -webkit-box-sizing: content-box;
      box-sizing: content-box;
      font-family: inherit;
      font-size: 50%;
    }
    header .container.nav .navbar .nav .nav__main input[type=search] {
      background: #efefef url(https://static.tumblr.com/ftv85bp/MIXmud4tx/search-icon.png) no-repeat 5px center;
      border: solid 1px #efefef;
      padding: 8px 15px;
      width: 0px;
      border-radius: 10em;
      -webkit-transition: all .5s;
      transition: all .5s;
      position: absolute;
      top: 8%;
      left: 160%;
      display: none;
    }
    header .container.nav .navbar .nav .nav__main input[type=search]::-webkit-input-placeholder {
      display: none;
    }
    header .container.nav .navbar .nav .nav__main input[type=search]:-ms-input-placeholder {
      display: none;
    }
    header .container.nav .navbar .nav .nav__main input[type=search]::-ms-input-placeholder {
      display: none;
    }
    header .container.nav .navbar .nav .nav__main input[type=search]::placeholder {
      display: none;
    }
    header .container.nav .navbar .nav__signUp .dangNhapDiv {
      position: absolute;
      top: 6%;
      left: 73.5%;
    }
    header .container.nav .navbar .nav__signUp .userDiv {
      -webkit-transition: all .5s;
      transition: all .5s;
      position: absolute;
      top: 8%;
      left: 92.2%;
    }
    header .container.nav .navbar .nav__signUp .userDiv img {
      width: 32px;
      height: 32px;
    }
    header .container.nav .navbar .nav__signUp .uploadFile {
      display: none;
    }
    #cover-img{
      width: 414px;
      height: 220px;
    }
    #ava-img{
      margin-left: 107px;
    }
    #profile{
    width: 414px;
    top: 310px;
    background-color: transparent;
    position: absolute;
    }
    #profile a{
      color: black;
      font-weight: 600; 
      margin-left: -24%;
    }
    #profile span{
      display: none;
    }
    #notify{
      display: none;
    }
    #footer{
      display: none;
    }
    .col-md-8{
      width: 414px;
      top: 150px;
    }
    .col-md-8 .item__top{
      width: 414px;
      padding-left: 5px;
      padding-right: 5px;
    }
    .col-md-8 .item__top #all-tracks
    {
      font-size: 18px;
    }
    .col-md-4{
      top: -650px;
      width: 414px;
    }
    .col-md-4 .item__top{
      width: 414px;
      padding-left: 5px;
    }
    .col-md-4 .item__top #btn-following{
      margin-left: 5px;
    }
    .item__body{
      width: 414px;
    }
    .likes__list{
      display: none;
    }
    .Fanalsolikes__list{
      display: none;
    }
    .musicpost{
      width: 414px;
      height: 180px;
    }
    .Avatar{
      display: none;
    }
    .titre{
      left: -210px;
    }
    .lecteur{
      width: 360px;
      top: 30px;
      left: -180px;
    }
    .tcn_comment{
      width: 350px;
      top:20px;
      left: 5px;
    }
    .tcn_comment .heartbtn{
      width: 250px;
    }
    .tcn_comment .playvcmt{
      width: 100px;
    }
    
  }